* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

:root {
    --bg-color: rgb(41, 5, 5);
    --second-bg-color: rgb(48, 9, 9);
    --text-color: whitesmoke;
    --main-color: rgb(255, 191, 0);
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

span {
    color: var(--main-color);
}

/* Landing Page */
section.landing {
    background-image: url(../../assets/bg.png);
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.landing-img img {
    max-width: 460px;
    height: auto;
    width: 100%;
}

.landing-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.landing-text h2 {
    font-size: 4rem;
    line-height: 1;
}

.landing-text p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 2.5rem;
}

.button {
    background: var(--main-color);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
}

.button a {
    color: var(--bg-color);
    letter-spacing: 1.2px;
    font-weight: 800;
    transition: all .3s ease;
}

.btn:hover {
    transform: scale(0.9);
}

/* Main */
/* Header */
header.sticky {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    background: var(--bg-color);
    border-bottom: 1px solid rgba(211, 211, 211, 0.274);
    transition: all .45s ease;
}

.logo img {
    width: 47px;
    height: auto;
}

.navbar, .navlist {
    padding: 0;
    margin: 0;
}

.navbar {
    height: 100%;
}

.navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.navlist a {
    color: var(--second-color);
    font-size: 1.2rem;
    font-weight: 500;
    transition: all .3s ease;
}

.navlist a:hover,
.navlist a.active {
    color: var(--main-color);
}

.hamburger {
    display: none;
}

.hamburger i {
    font-size: 1.7rem;
}


/* About */
section.about {
    padding: 100px 15% 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-text > h1 {
    font-size: var(--h2-font);
    font-weight: 700;
}

.about p {
    color: var(--text-color);
    font-size: var(--p-font);
    line-height: 1.7;
    text-align: justify;
}


/* Member */
section.member {
    background: var(--second-bg-color);
    padding: 50px 15% 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.member-content > h2 {
    font-size: calc(var(--h2-font));
    font-weight: 700;
}

.member-content > table {
    font-size: 1.5rem;
    color: var(--text-color);
}


/* Profile */
section.profile {
    background: var(--bg-color);
    padding: 50px 15% 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.profile > h2 {
    font-size: var(--h2-font);
    font-weight: 700;
}

section.profile > .carousel {
    width: 100%;
}

.carousel-inner {
    display: flex;
    padding: 1rem;
}

.carousel-item {
    height: 100%;
    margin-right: 0;
    flex: 0 0 33.33%;
    display: block;
}

.card {
    background-color: var(--second-bg-color);
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    margin: 0 0.5em;
    border: none;
}

.card > .card-body {
    height: 11.5rem;
}

.card h5 {
    color: var(--main-color);
    font-weight: 700;
}

.card p {
    color: var(--text-color);
}

.card p span.span-html {
    color: #FF5733;
}

.card p span.span-css {
    color: #264DE4;
}

.card p span.span-js {
    color: #f0db4f;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: var(--second-bg-color);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.card > .img-wrapper {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card > .img-wrapper > img {
    height: 100%;
    width: auto;
    object-fit: cover;
}


/* Footer */
footer {
    color: var(--text);
    text-align: center;
    padding: 1.2rem;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--bg-color) 30%, var(--main-color) 200%);
}


@media only screen and (max-width: 1320px) {
    header.sticky {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 900px) {
    /* Navbar */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .navbar {
        position: absolute;
        top: 57px;
        left: 0;
        right: 0;
        height: 0;
        width: 100vw;
        background: var(--bg-color);
        transition: 0.35s;
        overflow: hidden;
    }

    .navbar.active {
        height: 230px;
    }

    .navlist {
        display: block;
        width: fit-content;
        margin: 10px auto 0 auto;
        text-align: center;
        align-items: center;
        transition: 0.35s;
        line-height: 2.5rem;
    }

    .navbar.active.navlist {
        opacity: 100;
    }

    /* Member */
    .member-content > table {
        font-size: 1.3rem;
    }

    /* Profile */
    .carousel-item {
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 700px) {
    /* Member */
    .member-content {
        gap: 10px;
    }

    .member-content > h2 {
        font-size: calc(var(--h2-font) - 0.5rem);
    }

    .member-content > table {
        font-size: 1.1rem;
    }

    /* Profile */
    .carousel-item {
        flex: 0 0 100%;
    }
}

/* Music Control */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#vinyl {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-image: url('../../assets/vinyl.png');
    background-size: cover;
    border-radius: 50%;
}

#tooltip {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 10px;
}
